.container{
    display: flex;
    color: #2b69f0;
    flex-direction: column;
    
}
.date{
    margin-bottom: 30px;
    font-weight: bold;
    padding: 10px;
}
.details{
    margin-bottom: 30px;
}
@media screen and (min-width:768px){
    .date{
    
        flex-basis:20%;
    }
    .container{
        flex-direction: row;
    }
}