.container{
    background-image:url("../../assets/Team/cafe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    min-height: 60vh;
}

.content{
    
    background: rgba(0,0,0,0.75);
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.info{
    flex-basis: 50%;
}
.detail{
    text-align: center;
}
.guestsserved{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){


.content{
    display: flex;
    justify-content: space-around;
    align-items: center;

    }
    
    
    

}


.info{
    /* color:#6ec1e4;*/
    flex-basis:50%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
} 
.info>i{
    color:#6ec1e4;
}
.numbers{
    font-size: 30px;
}

/* .numbers,.plus{
    font-size: 50px;
    padding:0;
} */