.container{
    background-image:url("../../assets/Team/cafe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 35vh;
}
.content{
    background: rgba(0,0,0,0.75);
    min-height: 35vh;
    display: flex;
    flex-direction: column;

}
.one,.two{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
}
@media screen and (min-width: 768px){
.content{
    flex-direction: row;
}

.one,.two{
    display: flex;
    justify-content: space-between;
}
}
.info{
    color:#6ec1e4;
}
.details{
    color: white;
}
.numbers{
    font-size: 50px;
}